<%= form_for @room do |f| %>
    <div class="form-group">
      <% if @room.errors.size > 0 %>
          <div class="alert alert-danger fade show"><%= @room.errors.full_messages.to_sentence %> </div>
      <% end %>
      <div class="form-control">
        <%= f.text_field :name%>
        <%=  f.submit %>
      </div>
    </div>
<% end %>